<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Footer with Button and Logo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/Footer-with-button-logo.css' %}">

</head>

<body>
    <div class="content">
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- <h2 class="logo"><a href="{% static 'img/logo.png' %}"> LOGO </a></h2> -->
                    <a href="{% url 'shop:product_list' %}">
                        <img src="{% static 'img/logo.png'  %}" alt="uniqpab" height="120" width="auto">

                    </a>

                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'shop:product_list' %}">Home</a></li>
                        <li><a href="#">
                            <!-- sign up was  here  -->
                        </a></li>

                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li> <a href="#">company information</a> </li>
                        <li><a href="tel:+233246394796">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="{% url 'shop:faq' %}">FAQ</a></li>
                        <li><a href="tel:+233246394796">Help desk</a></li>
                        <li><a href="{% url 'blog:blog' %}">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                    <p>follow us on </p>
                       <a href="https://www.instagram.com/uniqpab" class="instagram"><i class="fa fa-instagram"></i></a> 
                        <a href="https://www.facebook.com/uniqpab/" class="facebook">
                            <i class="fa fa-facebook"></i></a>
                       <!-- <a href="#" class="google"><i class="fa fa-google-plus-official"></i></a> -->
                       
                        <br>chat us on <br>
                        <a class="fa fa-whatsapp" href="https://wa.me/+233246394796"></a>
                        <!-- <a class="fa fa-whatsapp hiddin-xs" href="https://web.whatsapp.com/send?phone=+233246394796"></a> -->

                    </div>
                    <a class="btn btn-default btn-outline-danger" href="tel:+233246394796">contact us</a>
                    <!-- <a class="btn btn-default btn-outline-danger" href="https://wa.me/+233246394796">contact us</a> -->
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>©
                <script>document.write(new Date().getFullYear()) </script>
                uniqpab
            </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>