<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    
    
  
</head>
<body>
    
    <div id="owl-demo" class="owl-carousel">

        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>
        <div class="item"><img src="https://www.rd.hi-techmedical.org/pictures/pmbehera.jpg" alt="Owl Image"></div>

        
     
</div>



</body>
<script src="{% static "media/aggrey/Aggrey/Projects/econmence/ecomencenv/Shopping-site/ecommerce/static/js/jquery.min.js" %}"></script>




</html>