
{% load static %}

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click">
					<span class="category-header">Categories <i class="fa fa-list"></i></span>

					<ul class="category-list">
						<!-- loop -->
						{% for navbars in nav %}

						<li class="dropdown side-dropdown" ><a class="dropdown-toggle" data-toggle="dropdown"
								aria-expanded="true">{{navbars.name}} <i class="fa fa-angle-right"></i></a>
							<div class="custom-menu ">
								<ul class="list-links">

								<div class="row">
									{% for category in  navbars.categories.all %}
										
									<div class="col-md-4">

										<ul class="list-links">
											<li>
												<h3 class="list-links-title"><u>{{category.name}}</u></h3>
											</li>

											{% for items in category.subcategory.all %}

												
											<li ><a class="" href="{{items.get_absolute_url}}">{{items.name}}</a></li>
											{% endfor %}

										</ul>
									</div>
										
									{% endfor %}
								</ul>
								</div>


							</div>
						</li>
						{% endfor %}
						<!-- loop end -->
					</ul>

				</div>
				<!-- /category nav -->


			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
