{% extends 'shop/base.html' %}

{% block title %}
Uniqpab FAQ
{% endblock %}


{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="col">


      <h4> <em>FAQ </em> </h4>
      <hr>

                <label for=""> How do we create an account with you</label>

                <p>   currently creating an account is not inplemented thank you for asking </p><br><hr>
                <label for="">  how do we receive my product</label>
                  <p>
                    you can receive your product either at home or you can personally walk to our office for 
                  your product and our team will be willing to assist you</p><br><hr>
                  <label for="">  How would i know if my purchase went succcesful</label><br>
                  <p>
                    with this there are two options <br>
                    1.  upon pressing of the submit button at where you input your info
                    an email will be sent automatically to the email you provided <br>
                    2.  ourcustomer representative will contact you emediatly your submission enters our records (database) 
                 
                  </p><br><hr>
                  <label for=""> How can i reach you in case of assistance </label><br>
                  <p>
                    you can reach us by  clicking on this
                    <a href="tel:+233246394796">contact</a> <br>
                    or through  <a href="https://wa.me/+233246394796">whatsapp</a><br>
                    <h6 text-light>email: uniquepab@gmail.com</h6>
  
        <!-- https://api.whatsapp.com/send?phone=233267209683 -->
      
                  </p><br><hr>
                  <label for=""> Do you guys receive online payment or mobile money</label><br>
                  <p>  No we don't currently we hope to introduce those in the future <br>
                    we do receive mobile  money through this MTN <i>number</i> <small> <u>0246394796</u> </small>
                 </p><br><hr>
               
    </div>
  </div>
</div>


{% endblock  %}