<!DOCTYPE html>
{% extends 'base1.html' %}
{% load static %}
{% load humanize %} 
{% load  crispy_forms_tags %}


<head>

{% block head %}


	<title>
	
	{% block title %}
	uniqpab-{{product.name}}
	{% endblock title %}
	</title>

	
	{% endblock head %}
</head>

<body>
	
{% block body %}
<script src="{% static 'js/jquery.min.js' %}"></script>


	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'shop:product_list' %}">Home</a></li>
				<li><a href="{{product.category.get_absolute_url}}">Products</a></li>
			
				<li class="active">{{product.name}}</li>
			</ul>
		</div>
	</div>


	<!-- Button trigger modal -->
	<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
	  Launch
	</button> -->
	
	<!-- Modal -->
	
	<!-- /BREADCRUMB -->


<script>
// $( "#modelId" ).dialog({autoOpen:true})
</script>


 

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								{% if product.image.url %}
								<img src="{{product.image.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image1.url %}
								<img src="{{product.image1.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image2.url %}
								<img src="{{product.image2.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image3.url %}
								<img src="{{product.image3.url}}" alt="">

								{% endif %}
							</div>
						</div>
						<div id="product-view">
							<div class="product-view">
								{% if product.image.url %}
								<img src="{{product.image.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image1.url %}
								<img src="{{product.image1.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image2.url %}
								<img src="{{product.image2.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image3.url %}
								<img src="{{product.image3.url}}" alt="">

								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<h2 id="product" class="product-name">{{product.name}}</h2>
							<h3 class="product-price">GH¢ {{product.price|intcomma}}<del class="product-old-price "> GH¢ 45.00</del></h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#">{{review.count}} Review(s) / Add Review</a>
							</div>
							<p><strong>Availability:</strong> {{available|yesno:"No,Yes" }}</p>
							<!-- <p><strong>Brand:</strong> E-SHOP</p> -->
							<p>{{product.description}}</p>
							<div class="product-options">
								<ul class="size-option">
									<li><span class="text-uppercase">Size:</span></li>
									<li class="active"><a href="#">S</a></li>
									<li><a href="#">XL</a></li>
									<li><a href="#">SL</a></li>
								</ul>
								<ul class="color-option">
									<li><span class="text-uppercase">Color:</span></li>
									<li class="active"><a href="#" style="background-color:#475984;"></a></li>
									<li><a href="#" style="background-color:#8A2454;"></a></li>
									<li><a href="#" style="background-color:#BF6989;"></a></li>
									<li><a href="#" style="background-color:#9A54D8;"></a></li>
								</ul>
							</div>
							<form id="cartform" method="POST">
							
								<div class="form-group product-btns">
									<div class="qty-input">
										<span class="text-uppercase">QTY: </span>
										<input class="input" type="number" id="quantity" required>
									</div>
								 <button id="addtocart" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								 <h3><a id="checkout" href="{% url 'orders:checkout' %}"></a></h3>

								</form>
								</div>
								<div id="modelId">
	
									<button class="main-btn"><a href="{% url 'orders:checkout' %}">CONTINEU SHOPPING<i class="fa fa-arrow-circle-right"></i> </a></button>
									<button class="main-btn"><a href="{% url 'cart:cart_detail' %}">VIEW CART &  CHECKOUT <i class="fa fa-shopping-cart"></i> </a></button>
								
								</div>
								
							
							<div class="product-btns">
								<div class="qty-input">
								</div>
						
								<div class="pull-right">
									<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button> -->
									<!--  -->
									<a class="mx-4 btn-link fa fa-share-alt main-btn icon-btn"
									href="https://api.whatsapp.com/send?phone=2347068533426&text=Hello Feel free to send us a text waiting on you "
									target="_blank"></a>
									<!--  -->
									<!-- <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i> -->
									</button>
								</div>
							</div>
						
						</div>
					</div>
					<div class="col-md-12">
						<p class="text-danger" id="info"></p>

						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab1">Details</a></li>
								<li><a data-toggle="tab" href="#tab2">Reviews ({{review.count}})</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{product.description}}</p>
								</div>
								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
												{% for reviews in review %}
												  
											
												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> {{reviews.name}}</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i>{{reviews.date}}</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>{{reviews.message}}</p>
													</div>
												</div>
												{% endfor %}
												

												
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form class="review-form" id="reviewform" method="POST">
												{% csrf_token %}
												<div class="form-group">
													<input id="name" class="input" type="text" placeholder="Your Name" / required>
												</div>
												<div class="form-group">
													<input id="email" class="input" type="email" placeholder="Email Address" / required>
												</div>
												<div class="form-group">
													<textarea id="message" class="input" placeholder="Your review"></textarea required>
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
													<!-- stars were -->
													</div>
												</div>
												<button  id="submit" class="btn btn-primary" value="">Submit</button>
												<!-- <button class="primary-btn">Submit</button> -->
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>
				<!-- section title -->

				{% for popular in popular|slice:'0:8' %}
				  
				
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<a href="{{popular.get_absolute_url}}">
						<div class="product-thumb">
							<div class="product-label">
								<span class="sale">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{popular.image.url}}" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price"> GH¢ {{popular.price}} <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<!-- <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i> -->
							</div>
							<h2 class="product-name">{{popular.name}}</h2>
						</a>
							<div class="product-btns">
								<a class="primary-btn btn-block  add-to-cart text-center" href="{{products.get_absolute_url}}">View Details</a>

								<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								 -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



<style>
    #id_quantity{
        height: 35px;
        width: 80px;
	}
	#id_quantity:hover{
		width: 100px;

	}

	.main-btn{
		margin-top: 1em;
	
	
	}
	#modelId{
	display: inline;
	}
</style>



<script>

$('#modelId').toggle()

product = '{{product.id}}'
url ='/add{{product.id}}/{{product.slug}}/'

// console.log(url)

	$('#reviewform').on('submit',function(e){
		
		e.preventDefault();
	   
	  // var department = '{{department.id}}'
	
	  // console.log('department = ',department,'url = ',url)
	
		$.ajax({
			type:'POST',
			url:'/review/',
		
			data:{
			 
				name:$('#name').val(),
				email:$('#email').val(),
				message:$('#message').val(),
			 
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
		
			},
		beforeSend:function(){
			$('#submit').text('sending review...')
		},
		

			success:function(){
			$('#name').val('')
			$('#email').val('')
			$('#message').val('')
			$('#submit').text('submit')
			location.reload()
			$('#info').text('thank you for reviwing our product')
		
			},
			error:function(){
				$('#submit').text('not saved try again')
				// $('#submit').fadeIn().text('submit')
			}
	
		})
	})


	// add to cart

	$('#cartform').on('submit',function(e){
		
		e.preventDefault();
	   
	  // var department = '{{department.id}}'
	
	  // console.log('department = ',department,'url = ',url)
	  url ='/add/{{product.id}}/{{product.slug}}/'
	
		$.ajax({
			type:'POST',
			url:url,
		
			data:{
			 
				product:product,
				quantity:$('#quantity').val(),
				// update_quantity:$('#update_quantity').val(),
			 
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
		
			},
		beforeSend:function(){
			$('#addtocart').text('adding to cart..')
		},
		
			success:function(){
				$('#addtocart').text('Add to Cart')
				// location.reload()
				// $('#checkout').fadeIn().text('checkout')
				old_cart = $('.qty').text()
				new_cart = $('#quantity').val()
				new_value= parseInt(old_cart)+parseInt(new_cart)
				$('.qty').text(new_value)
				$('#quantity').val('')
				$('#modelId').fadeIn()

			},
			error:function(){
			alert('error')
			}
	
		})
	})
	
		</script>
	

{% endblock body %}
</body>

</html>
