<!DOCTYPE html>
{% extends 'base1.html' %}
{% load humanize %}
{% load bootstrap_pagination %}
{% load static %}
<html lang="en">

<head>
	{% block head %}

	<title>
		{% block title %}
		uniqpab-home
		{% endblock title %}
	</title>


	{% endblock head %}
</head>

<body>
	{% block body %}


	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->

				<div id="home-slick">
					{% for items in  products|slice:"0:5"%}
					<!-- banner -->
					<a href="{{items.get_absolute_url}}">
					<div class="banner banner-1">
						<img src="{{items.image.url}}" alt="" height="400" width="auto">
						<div class="banner-caption">
							<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50%
									OFF</span></h1>
							<button class="primary-btn">Shop Now</button>
						</div>
					</div>
				</a>
					<!-- /banner -->

					{% endfor %}
				</div>
				<!-- /home slick -->

			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			
			<div class="row">
				{% for banners in banner %}
				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="{{banners.get_absolute_url}}">
						<img src="{{banners.image.url}}" alt="" style="width: auto;">
						<div class="banner-caption text-center">
							<h4 class="white-color">NEW COLLECTION</h4>
						</div>
						<h2 class="text-danger">{{banners.name}}</h2> <p>{{banners.updated_at|timesince}} ago</p>

					</a>
				</div>
				<!-- /banner -->
				{% endfor %}
				
			</div>
			<h1 class="text-center">{% bootstrap_paginate banner %}</h1>

			<!-- /row -->
			
		</div>
		<!-- /container -->

	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->

		<div class="container">

			<!-- row -->
			<div class="row">

				<!-- section-title -->
				<div class="col-md-12">

					<div class="section-title">
						<h2 class="title">Deals Of The Day</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- Product Slick -->


				<div class="col-md-12 col-sm-6 col-xs-6">

					<div class="row">

						<div id="product-slick-1" class="product-slick">

							<!-- Product Single -->
							{% for products in category %}

							{% for items in products.products.all|slice:'0:20' %}
							<div class="product product-single">

								<a href="{{items.get_absolute_url}}">
								<div class="product-thumb">
									<div class="product-label">
										<span>{{products.name}}</span>
										<span class="sale">-20%</span>
									</div>
									
									<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
										view</button>
									<img src="{{items.image.url}}" alt="" style="width: fit-content; height: fit-content;">
								</div>
								<div class="product-body">
									<h3 class="product-price">GH¢ {{items.price|intcomma}} <del
											class="product-old-price">$45.00</del></h3>
									<div class="product-rating">
										<!-- <i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i> -->
									</div>
									<h2 class="product-name">{{items.name}}</h2>
								</a>
									<div class="product-btns">
										<a class="primary-btn btn-block  add-to-cart text-center" href="{{items.get_absolute_url}}">View Details</a>

										<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add
											to Cart</button> -->

									</div>

								</div>

							</div>

							{% endfor %}
							{% endfor %}
							<!-- /Product Single -->



						</div>
					</div>
				</div>
				<!-- /Product Slick -->

			</div>
			<!-- /row -->

		</div>

		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Latest Products</h2>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
				{% for prodcucts in category %}
				{% for items in prodcucts.products.all %}


				<div class="col-md-3 col-sm-6 col-xs-6">

					<div class="product product-single">

							<a href="{{items.get_absolute_url}}">

						<div class="product-thumb">


							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{items.image.url}}" alt="" style="width: fit-content;height: fit-content;">
						</div>
						<div class="product-body">
							<h3 class="product-price">GH¢ {{items.price|intcomma}}</h3>
							<div class="product-rating">
								<!-- <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i> -->
							</div>
							<h2 class="product-name">{{items.name}}</h2>
						</a>
							<div class="product-btns">
								<a class="primary-btn btn-block  add-to-cart text-center" href="{{items.get_absolute_url}}">View Details</a>

								<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
									Cart</button> -->
							</div>

						</div>

					</div>

				</div>
				{% endfor %}
				{% endfor %}
				<!-- /Product Single -->

			</div>
			<!-- /row -->



			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>

				{% for products in popular|slice:'0:8' %}


				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<a href="{{products.get_absolute_url}}">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{products.image.url}}" alt="" style="width: fit-content;height: fit-content;">
						</div>
						<div class="product-body">
							<h3 class="product-price">GH¢ {{popular.price|intcomma}}</h3>
							<div class="product-rating">
								<!-- <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i> -->
							</div>
							<h2 class="product-name">{{products.name}}</h2>
						</a>
							<div class="product-btns">
								<a class="primary-btn btn-block  add-to-cart text-center" href="{{products.get_absolute_url}}">View Details</a>

								<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
									Cart</button> -->
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- /Product Single -->


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


	{% endblock body %}
</body>

</html>