{% extends 'base1.html' %}
{% load static %}

<head>

    {% block head %}

    <title>

        {% block title %}
        payment failure| Thank you
        {% endblock %}
    </title>

    {% endblock head %}

</head>
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 6%">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="page-header">Thank You For Shopping With Us
            </h1>
            <h2>Your payment was not successfull <strong class="text-info">{{ order.order_number }}</strong> 
            <a href="{% url 'shop:product_list' %}">continue shopping</a></h2>
        </div>
    </div>
</div>
{% endblock body %}